
<form action=<%=action%> method='POST'>
    <!-- name of day -->
    <label for="name">Name</label>
    <input type="text" name="name" value="<%=nameValue%>">
    <!-- summary of day -->
    <label for="summary">Summary</label>
    <input type="text" name="summary" value="<%=sumValue%>">
    <!-- description of day -->
    <label for="description">Description</label>
    <textarea name="description"><%=descValue%></textarea>
    <!-- link to lesson notes -->
    <label for="lessonNotes">Link to lesson notes</label>
    <input type="text" name="lessonNotes" value="<%=lessonLink%>">
    <!-- link to zoom recording -->
    <label for="recording">Link to zoom recording</label>
    <input type="text" name="recording" value="<%=recLink%>">
    <!-- week number -->
    <label for="week">Week</label>
    <input type="number" name="week" value="<%=weekValue%>" min="1" max="12">
    <!-- day number -->
    <label for="day">Day</label>
    <input type="number" name="day" value="<%=dayValue%>" min="1" max="5">
    <!-- submit -->
    <input type="submit" value="Submit Day">
</form>