<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Index</title>
</head>
<body>
    <%- include ('../partials/header.ejs') %>
    <!-- loop to make 12 divs for the 12 weeks -->
        <% for (let i = 1; i <= 12; i++) {%>
        <div class="container" id="week<%=i%>-container">
            <h2 id="week<%=i%>-title">Week <%=i%></h2>
            <div id="week<%=i%>" class="weekDiv">
                    <!-- loop to make an li for each day -->
                    <% for (let j = 0; j < allDays.length; j++) {%>
                        <!-- if the value of week on the day object matches the week div, append it -->
                        <% if (allDays[j].week === i) {%>
                                <div id='<%=allDays[j].name%>' class="dayDiv">
                                <a href="/days/<%=allDays[j].id%>" class="show-links"><%=allDays[j].name%></a>
                                <p><%=allDays[j].summary%></p>
                                </div>
                        <%}%>
                    <%}%>
            </div>
        </div>
        <%}%>
</body>
</html>