<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=day.name%></h1>
    <p><%=day.description%></p>
    <h3>Link to Notes:</h3>
    <a href="<%=day.lessonNotes%>"><%=day.lessonNotes%></a>
    <h3>Link to Recording:</h3>
    <a href="<%=day.recording%>"><%=day.recording%></a>
    <form action="/days/<%=day.id%>/?_method=DELETE" method="POST">
        <input type="submit" value="Remove this Day">
    </form>
</body>
</html>